[paths]
ffmpegbin="/usr/local/bin/ffmpeg"
segmenterbin="/usr/local/bin/live_segmenter"
knivedata="./var"

[logging]
logfile="./knive.log"
loglevel=DEBUG

# Maximum filesize in kilo-kybtes
filesize=512

# Number of old files to keep
keepfiles = 3

# streams=stream0
# stream=distributor
# distributor=FileWriter0,HTTPLive0
# HTTPLive0=Variant1,Variant2,Variant3

[webservice]
enabled = False
port = 9001

[manhole]
port = 22101
enabled = True

[channels]
    [[bitsundso]]
    name = "Bits und so"
    slug = "bus"

        [[[source]]]
        type = kniveTCPSource
        listenAddress="0.0.0.0"
        listenPort=3333
        sharedSecret="7asd57a65sd"

        [[[outlets]]]
        [[[[HTTPLive]]]]
            type=HTTPLive
            segmentServer='http://hlsd.undsoversum.de'

               [[[[[3G]]]]]
                acodec=copy
                vcodec=libx264
                crf=26
                s=640x360
                aspect=16:9
                preset=fast
                vprofile=baseline
                level=30
                maxrate=270k
                bufsize=270k
                r=25
                g=25
                async=2
                codecstring=avc1.42001E,mp4a.40.2

                [[[[[wifi]]]]]
                acodec=copy
                vcodec=libx264
                crf=22
                s=1280x720
                aspect=16:9
                preset=fast
                vprofile=main
                level=30
                maxrate=1500k
                bufsize=1500k
                r=25
                g=25
                async=2
                codecstring=avc1.4D001F,mp4a.40.2

                [[[[[edge]]]]]
                acodec=copy
                vcodec=libx264
                crf=22
                s=400x224
                aspect=16:9
                preset=fast
                vprofile=main
                level=30
                maxrate=85k
                bufsize=85k
                r=25
                g=25
                async=2
                codecstring=avc1.4D001E,mp4a.40.2

               [[[[[audioOnly]]]]]
               vn=True   # ffmpeg asdasdasd -vn -option=123123
               maxrate=70k
               acodec=copy
               codecstring=mp4a.40.2




[MEncoder]
mplayerbin='/Applications/MPlayer OSX Extended.app/Contents/Resources/Binaries/mpextended.mpBinaries/Contents/mpextended.mpBinaries/Contents/MacOS/mplayer'




    
#[StreamArchiver]
#outputdir="/var/tmp"
#keepfiles=5
#suffix=.ts
## A File Name (without suffix). The special name 'auto' leads to knive trying to find a good name based on the Stream name/slug
#filename=auto
